body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    
}
.f-info-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials{
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d;
    border: none;
}

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}


.search-form{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.search-inp{
  height: 42px;
  border-radius: 999px;
  padding: 0 1.2rem;
  font-size: .95rem;
}

.btn-search{
  height: 42px;
  background: #fe424d;
  color: #fff;
  border-radius: 999px;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  gap: .4rem;
}

.btn-search:hover{
  background: #fe424d;
  color: #fff;
}

/* MOBILE */
@media (max-width:768px){
  .search-form{
    width: 100%;
    justify-content: center;
  }
  .search-inp{
    width: 100%;
  }
}

@media (max-width: 768px){

  
  .filters-wrapper{
    gap: .5rem;
    padding: .5rem 0;
  }

  
  .tax-toggle{
    padding: .25rem .5rem;   
    border-width: 1px;
    border-radius: 999px;
    height: auto;
  }

  
  .tax-toggle .form-check-input{
    transform: scale(0.8);
    margin-top: 0;
  }

 
  .tax-text{
    font-size: .65rem;
    line-height: 1;
  }

  
  .filters-scroll{
    gap: 1.25rem;
  }

  .filter{
    min-width: 55px;
  }

  .filter i{
    font-size: 1.1rem;
  }

  .filter p{
    font-size: .65rem;
  }
}
